@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat&display=swap');

$principal:'Montserrat', sans-serif;
$secundaria:Helvetica, sans-serif;
$encabezado:'Architects Daughter', 'cursive';
            